@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&family=Source+Code+Pro:wght@700&display=swap');

:root {
  --fontLight: #ffffff;
  --fontDark: #dcdcdc;
  --backgroundLight: rgb(174, 204, 215);
  --backgroundDark: rgb(41, 45, 47);
  --btnLight: #393836;
  --btnDark: #ffffff;
  --titleColorLight: #ffffff;
  --titleColorDark: #dcdcdc;
}

* {
  color: var(--fontColor);
  font-family: Tahoma;
}
body {
  /* background-image: linear-gradient(
    to bottom,
    rgb(89, 111, 140),
    rgb(89, 126, 140)
  ); */
  text-align: center;
  background-color: var(--backgroundColor);
}

.titleWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  color: var(--titleColor);
  font-family: Bangers;
  font-size: 70px;
}

.countdown {
  color: rgb(235, 227, 227);
  font-size: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  top: 30px;
  right: 70px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.light-theme {
  --bg: var(--backgroundLight);
  --fontColor: var(--fontLight);
  --backgroundColor: var(--backgroundLight);
  --btnBg: var(--btnLight);
  --btnFontColor: var(--btnDark);
  --titleColor: var(--titleColorLight);
}

.dark-theme {
  --bg: var(--backgroundDark);
  --fontColor: var(--fontDark);
  --backgroundColor: var(--backgroundDark);
  --btnBg: var(--btnDark);
  --btnFontColor: var(--btnLight);
  --titleColor: var(--titleColorDark);
}
