@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Fira+Sans&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Ubuntu+Mono:wght@700&display=swap');
:root {
  --fontLight: rgba(255, 255, 255, 0.627);
  --fontDark: rgba(255, 255, 255, 0.627);
  --backgroundLight1: 117, 124, 170;
  --backgroundLight2: 85, 122, 141;
  --backgroundDark1: 79, 91, 95;
  --backgroundDark2: 27, 39, 45;
  --btnLight: #393836;
  --btnDark: #ffffff;
  --titleColorLight: #ffffffdb;
  --titleColorDark: #ffffff;
}

* {
  color: var(--fontColor);
  font-family: Roboto;
}
body {
  background-image: linear-gradient(
    to bottom,
    rgba(var(--backgroundColor1)),
    rgba(var(--backgroundColor2))
  );
  height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  max-width: max-content;
  margin: auto;
}
.corazon {
  margin-top: 3em;
}
.title {
  color: var(--titleColor);
  font-family: Fira sans;
  font-size: 3.5em;
  line-height: 1.25;
}

.text-wrapper {
  font-size: 1em;

  margin-top: 2em;
  width: 30em;
}

.countdown {
  margin-top: 3em;
  color: var(--titleColor);
  display: flex;
  gap: 1.5em;

  align-items: center;
  text-align: left;
}

.vertical-line {
  width: 0.01em;
  min-height: 7em;
  background: var(--titleColor);
}

.countdown-elements {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.countdown-numbers {
  font-size: 3.5em;
  text-align: left;
  font-weight: bolder;
  font-family: Roboto Mono;
}

.countdown-letters {
  font-size: 0.7em;
  margin-left: 0.2em;
  text-transform: uppercase;
}

.btn {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.light-theme {
  --bg: var(--backgroundLight);
  --fontColor: var(--fontLight);
  --backgroundColor1: var(--backgroundLight1);
  --backgroundColor2: var(--backgroundLight2);
  --btnBg: var(--btnLight);
  --btnFontColor: var(--btnDark);
  --titleColor: var(--titleColorLight);
}

.dark-theme {
  --bg: var(--backgroundDark);
  --fontColor: var(--fontDark);
  --backgroundColor1: var(--backgroundDark1);
  --backgroundColor2: var(--backgroundDark2);
  --btnBg: var(--btnDark);
  --btnFontColor: var(--btnLight);
  --titleColor: var(--titleColorDark);
}
