@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Fira+Sans:wght@400;500;700&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Fira+Sans&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Fira+Sans:wght@400;500;900&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Source+Sans+Pro&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Fira+Sans:wght@400;500;900&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Poppins:wght@500;700&family=Raleway:wght@100;400&family=Rampart+One&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Ubuntu+Mono:wght@700&display=swap');

:root {
  --fontLight: rgba(255, 255, 255, 0.627);
  --fontDark: rgba(255, 255, 255, 0.627);
  --backgroundLight1: 117, 124, 170;
  --backgroundLight2: 85, 122, 141;
  --backgroundDark1: 79, 91, 95;
  --backgroundDark2: 27, 39, 45;
  --btnLight: #393836;
  --btnDark: #ffffff;
  --titleColorLight: #ffffff;
  --titleColorDark: #ffffff;
}

* {
  color: var(--fontColor);
  font-family: Source Sans Pro;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(var(--backgroundColor1)),
    rgba(var(--backgroundColor2))
  );
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 2em 1em 0 2em;
  max-width: auto;
  max-height: auto;
}

.wrapper {
  display: inline-block;
  text-align: left;
  vertical-align: center;
}

.corazon {
  cursor: pointer;
}

.title {
  margin-top: 2vh;
  font-size: 3.5em;
  font-weight: bold;
  font-family: Source Sans Pro;
  font-weight: 400;
  letter-spacing: -0.2rem;
  color: var(--titleColor);
}

.text-wrapper {
  font-size: 1em;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .text-wrapper {
    width: 90%;
  }
}

.vertical-lign {
  width: 0.01em;
  background-color: var(--fontColor);
}
.countdown {
  display: flex;
  margin-top: 5vh;
  max-width: 25em;
  gap: 0.5em;
}

.countdown-elements {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1vh;
  height: 7em;
}

.countdown-numbers {
  font-size: 3.5em;
  font-weight: bold;
  font-family: Source Sans Pro;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: var(--titleColor);
}

.countdown-letters {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.icons {
  fill: var(--titleColor);
  text-align: left;
  cursor: pointer;
  display: flex;
  gap: 3vh;
  margin-top: -2.5em;
}

.light-theme {
  --bg: var(--backgroundLight);
  --fontColor: var(--fontLight);
  --backgroundColor1: var(--backgroundLight1);
  --backgroundColor2: var(--backgroundLight2);
  --btnBg: var(--btnLight);
  --btnFontColor: var(--btnDark);
  --titleColor: var(--titleColorLight);
}

.dark-theme {
  --bg: var(--backgroundDark);
  --fontColor: var(--fontDark);
  --backgroundColor1: var(--backgroundDark1);
  --backgroundColor2: var(--backgroundDark2);
  --btnBg: var(--btnDark);
  --btnFontColor: var(--btnLight);
  --titleColor: var(--titleColorDark);
}
